h1.topic-of-page {
    color: rgb(10, 155, 145);
    font-style: italic;
    font-family: fantasy;
    opacity: .7;
    font-size: 50px;
}

body {
    background-color: lavender;
    
    
    
}

 /* h2.DSPs {
    color: palevioletred;
    font-style: oblique;

} */

.DSPs {
    display: flex;
    color: rgb(223, 178, 65);
    background-color: lightseagreen;
    justify-content: space-around;
    width: 100%;
}

.master-row {
    line-height: 50px;
}

.first-row {
    color: limegreen;
    border: 3px solid black;
    background-color: whitesmoke;
    display: grid;
    margin: 3px;
    grid-template-columns: auto auto auto;
    padding: 5px;
    /* padding-left: 150px; */
    justify-items: center;
}

.second-row {
    color: limegreen;
    border: 3px solid black;
    background-color: whitesmoke;
    display: grid;
    margin: 3px;
    grid-template-columns: auto auto auto;
    padding: 5px;
    /* padding-left: 150px; */
    justify-items: center;
}

.third-row {
    color: limegreen;
    border: 3px solid black;
    background-color: whitesmoke;
    display: grid;
    margin: 3px;
    grid-template-columns: auto auto auto;
    padding: 5px;
    /* padding-left: 150px; */
    justify-items: center;
}

/* .first-spot {
    display: table;
    
    
}

.second-spot {
    display: table;
    
}

.third-spot {

    display: table;
    
} */